.scrollTrack {
  display: flex;
  width: max-content;
  animation: scrollBg 20s linear infinite;
}

.image {
  display: block;
  object-fit: contain;
}

@keyframes scrollBg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
