.home {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__bottomIcon {
    display: block;
    position: absolute;
    left: 30px;
    bottom: 10px;

    @media screen and (max-width: 320px) {
      display: none;
    }

    @media screen and (min-width: 720px) {
      left: 400px;
    }
  }
}
